.Checkout_div{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    /* background-color: saddlebrown; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkout_centered{
    max-width: 1000px;
    width: 100%;
    /* background-color: aquamarine; */
    height: fit-content;
    display: block;
}
.checkout_details_div{
    /* min-height: 84px; */
    padding: 16px 24px;
    width: 100%;
    background-color: white;
    overflow: hidden;

    max-height: 70px;
    /* max-height: 120px; */
}
.checkout_info_labels{
    font-weight: 500;
    /* color: #707070; */
    /* background-color: saddlebrown; */
    height: 50px;
    min-height: 50px;
    display: flex;
    align-items: center;
   
}
.label{
    font-size: 12px;
    font-weight: 400;
    padding: 0;
    width: max-content;
    transform: translateY(30%);
}
input{
    width: 100%;
    max-width: 100%;
    padding: 10px 10px 10px 20px;
    margin-top: 5px;   
}

.name_input_area{
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
}
.name_input_area span{
    width: 50%;
    display: block;
}

.checkout_buttons_in_same_page{
    height: 40px;
    margin-top: 30px;
    width: 250px;
}   
.toCenter{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}


.proceed_btm button{
    outline: none;
    border: none;
    cursor: pointer;
}
.proceed_btm button:hover{
    background-color: rgba(0, 0, 0, 0.756);
}
.proceed_btm button:active{
    background-color: rgba(0, 69, 0, 0.433);
}


.disabled:active {
    background-color: #000000 !important;
}