.page {
    width: 100%;
    height: 100%;
    /* background-color: lightblue; */
    min-height: 100vh;
    display: flex;
    flex-direction: column
}

.main_content {
    width: 100%;
    height: 100%;
    /* background-color: lightpink; */
    display: flex;
    flex-direction: row;
}

.main_content_sus {
    width: 100%;
    height: 100%;
    position: relative;
    height: max-content;
    background-color: saddlebrown;
    min-height: 100vh;
    background: url("https://image.hm.com/content/dam/sustainability-site/startpage/9501-CPD-01_16x9-sustainability-destination.jpg?imwidth=2160");
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

